.root {
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: inherit;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--color-input-bg);
  border: var(--border-input);
  border-radius: var(--border-radius);
  transition-duration: var(--timing-fast);
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    color: var(--color-layer1-fg);
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
  &[data-disabled] {
    color: var(--color-disabled-fg);
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
  }
}

.indicator {
  color: var(--color-accent-fg);
  pointer-events: none;
  display: flex;
  padding: 0;
  margin: 0;

  &[data-disabled] {
    background-color: var(--color-disabled);
  }
}
