.root {
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: inherit;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--color-input-background);
  border: var(--border-input-solid);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-fast);
  cursor: pointer;

  &[data-state="checked"],
  &[data-state="indeterminate"] {
    color: var(--color-primary-foreground);
    background-color: var(--color-primary-accent);
    border-color: var(--color-primary-accent);
  }
}

.indicator {
  color: var(--color-primary-accent-foreground);
  pointer-events: none;
  display: flex;
  padding: 0;
  margin: 0;
}
