.box {
  padding: var(--spacing-2);
  color: var(--color-input-fg);
  background-color: var(--color-input-bg);
  border: var(--border-input);
  border-radius: var(--border-radius);
  transition-duration: var(--timing-fast);
}

.box:focus {
  border: 1px solid var(--color-accent);
  outline: var(--border-input-focused);
}

.box:disabled {
  color: var(--color-disabled-fg);
  background-color: var(--color-disabled);
}
