.root {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--color-input-background);
  border: var(--border-input-solid);
  border-radius: var(--border-radius);

  transition-duration: var(--transition-fast);

  &:focus-within {
    border: var(--border-input-solid-focused);
    outline: var(--border-input-solid-focused);

    & > .search-icon {
      color: var(--color-input-foreground);
    }
  }
}

.icon {
  color: var(--color-input-foreground-dim);
  margin: var(--spacing-2);
}

.input {
  color: var(--color-input-foreground);
  background: transparent;
  border: none;
  flex-grow: 1;

  &:focus {
    outline: none;
  }
}
