.root {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--color-input-bg);
  border: var(--border-input);
  border-radius: var(--border-radius);

  transition-duration: var(--timing-fast);

  &:focus-within {
    border: var(--border-input-focused);
    outline: var(--border-input-focused);

    & > .search-icon {
      color: var(--color-input-fg);
    }
  }
}

.icon {
  color: var(--color-input-fg-dim);
  margin: var(--spacing-2);
}

.input {
  font-size: var(--font-size-small);
  color: var(--color-input-fg);
  background: transparent;
  border: none;
  flex-grow: 1;

  &:focus {
    outline: none;
  }
}
