.root {
  --slider-height: 16px;

  display: flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
  user-select: none;
  touch-action: none;
  height: var(--slider-height);
}

.track {
  position: relative;
  background-color: var(--color-input-background);
  border: var(--border-input-solid);
  border-radius: 9999px;
  height: 50%;
  flex-grow: 1;
  cursor: pointer;
}

.range {
  position: absolute;
  background-color: var(--color-primary-accent);
  border-radius: 9999px;
  height: 100%;
  cursor: pointer;
}

.thumb {
  display: block;
  height: var(--slider-height);
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary-foreground);
  border-radius: 10px;
  cursor: pointer;
}
