.container {
  display: flex;
  flex-direction: row;
  border: var(--border-button);
  border-radius: calc(var(--border-radius) + 1px);
  font-size: var(--font-size-small);
}

.button {
  font-size: 1em;
  color: var(--color-button-fg);
  background-color: var(--color-button-bg);
  border: none;
  flex-grow: 1;
  padding: var(--spacing-2);
  cursor: pointer;

  &[data-state="on"] {
    color: var(--color-accent-fg);
    background-color: var(--color-accent);
  }

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
