.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  font-size: var(--font-size-big);
  color: var(--color-layer1-fg-dim);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-block-end: var(--spacing-5);
  height: var(--size-4);
}

.model-actions {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
}

.model-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  overflow-y: auto;
}

.no-models {
  color: var(--color-layer1-fg);
  text-align: center;
  font-size: var(--font-size-medium);
}
