.simulation-panel {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing-panel);
  gap: var(--spacing-5);
  overflow-y: auto;
}

.sliders-button {
  color: var(--color-layer1-fg-very-dim);
  line-height: 0;
  background-color: transparent;
  border: none;
  font-size: calc(1.5 * var(--font-size-big));
  aspect-ratio: 1 / 1;
  padding: 0;
  cursor: pointer;

  &[aria-pressed="true"] {
    color: var(--color-accent);
  }
}

.parameter-scan-mode-toggle-group {
  margin-bottom: var(--spacing-2);
}
