.simulation-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--spacing-panel);
  gap: var(--spacing-5);
}

.panel-title {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--color-primary-foreground-dim);
  margin-block: var(--spacing-2);
}
