.dialog {
  height: 60%;
  aspect-ratio: 1 / 0.85;
}

.panel-container {
  margin-top: var(--spacing-5);
}

.panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  & > div {
    font-size: var(--font-size-lag);
    padding: 0;
  }
}
