.app {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: hidden;
}

/* Pane stuff */

.allotment-container {
  flex-grow: 1;
  background-color: var(--color-layer1-bg);
}

:root {
  --focus-border: var(--color-accent);
  --separator-border: var(--color-layer1-border);
}
