.root {
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  align-items: center;

  background-color: var(--color-primary-background);
  border-bottom: var(--border-primary-solid);
}

.menubar-left {
  grid-column: 1;
}

.menubar-center {
  grid-column: 2;
}

.menubar-right {
  grid-column: 3;
}
