.root {
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  align-items: center;

  background-color: var(--color-layer1-bg);
  border-bottom: var(--border-layer1);
}

.menubar-left {
  grid-column: 1;
}

.menubar-center {
  grid-column: 2;
}

.menubar-right {
  grid-column: 3;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-inline: var(--spacing-5);
}
