.item-loading {
  color: var(--color-layer1-fg-dim);
  background-color: var(--color-layer3-bg);
}

.item-success {
  color: var(--color-accent-fg);
  background-color: var(--color-accent);
}

.item-fail {
  color: var(--color-layer1-fg-dim);
  background-color: var(--color-layer3-bg);
}

.error-icon {
  color: var(--color-error);
}

.warning-icon {
  color: var(--color-warning);
}
