.url-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
}

.url {
  font-size: var(--font-size-medium);
  background-color: var(--color-input-bg);
  color: var(--color-input-fg);
  border: var(--border-input);
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  flex-grow: 1;
  transition-duration: var(--timing-fast);

  &:focus {
    border: var(--border-input-focused);
    outline: var(--border-input-focused);
  }
}

.copy {
  padding-inline: var(--spacing-5);

  &.copied {
    color: var(--color-success-fg);
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
  }
}
