.content {
  font-size: var(--font-size-medium);
  color: var(--color-layer1-fg);
  background-color: var(--color-layer1-bg);
  border: var(--border-layer1);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-medium);
  position: fixed;
  top: 50%;
  left: 50%;
  width: max(25vw, 300px);
  transform: translate(-50%, -50%);
  padding: var(--spacing-panel);
  animation: contentShow var(--timing-fast) ease-in;
}

.title {
  margin: 0;
  color: var(--color-layer1-fg-dim);
  font-size: var(--font-size-big);
}

.description {
  color: var(--color-layer1-fg);
  font-size: var(--font-size);
  margin: 0;
  padding-block: var(--spacing-5);
}

.close {
  position: absolute;
  background-color: transparent;
  border: none;
  color: var(--color-layer1-fg-dim);
  top: var(--spacing-panel);
  right: var(--spacing-panel);
  padding: 0;
  cursor: pointer;
}

.url-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
}

.url {
  font-size: var(--font-size-medium);
  background-color: var(--color-input-bg);
  color: var(--color-input-fg);
  border: var(--border-input);
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  flex-grow: 1;
  transition-duration: var(--timing-fast);

  &:focus {
    border: var(--border-input-focused);
    outline: var(--border-input-focused);
  }
}

.copy {
  padding-inline: var(--spacing-5);

  &.copied {
    color: var(--color-success-fg);
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
