.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-layer1-bg);
  border-right: var(--border-layer1);
  width: var(--size-6);
}

.list {
  display: flex;
  flex-direction: column;
}

.trigger {
  color: var(--color-layer1-fg-very-dim);
  position: relative;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition-duration: var(--timing-fast);
  font-size: var(--size-3);

  &:not([data-state="active"]):hover::before {
    content: "";
    background-color: color-mix(
      in hsl,
      var(--color-layer1-fg) 20%,
      transparent
    );
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--size-0);
  }

  &[data-state="active"] {
    color: var(--color-layer1-fg);
  }

  &[data-state="active"]::before {
    content: "";
    background-color: var(--color-accent);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--size-0);
  }
}
