.default,
.ghost,
.ghost-text {
  --button-spacing: var(--spacing-2);
  font-size: var(--font-size-small);

  &:focus-visible {
    outline: var(--outline-focused);
  }
}

.default {
  color: var(--color-button-fg);
  background-color: var(--color-button-bg);
  border: var(--border-button);
  border-radius: var(--border-radius);
  padding: var(--button-spacing);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--button-spacing);

  &:hover {
    background-color: var(--color-button-bg-hover);
  }

  &:active {
    background-color: var(--color-button-bg-active);
  }

  &:disabled {
    color: var(--color-button-fg-disabled);
    background-color: var(--color-button-bg-disabled);
  }
}

.ghost {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-ghost-button-fg);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--button-spacing);
  cursor: pointer;

  &:hover,
  &[data-active="true"] {
    background-color: var(--color-ghost-button-hover-bg);
  }

  &:active {
    background-color: var(--color-ghost-button-active-bg);
  }

  &:disabled {
    color: var(--color-ghost-button-disable-fg);
    background-color: var(--color-ghost-button-disable-bg);
  }
}

.ghost-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;

  background: transparent;
  border: none;
  color: var(--color-ghost-text-button);

  cursor: pointer;

  &:hover {
    color: var(--color-ghost-text-button-hover);
  }

  &:active {
    color: var(--color-ghost-text-button-active);
  }

  &:disabled {
    color: var(--color-ghost-text-button-disabled);
  }
}
