.button {
  color: var(--color-secondary-accent-foreground);
  background-color: var(--color-secondary-accent);
  border: var(--border-secondary-accent-solid);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-2);
}
