/**
 * variables defined for buttons:
 *  - button-background
 *  - button-foreground
 */

.container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  gap: var(--spacing-1);
  min-height: var(--size-4);
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);

  color: var(--button-foreground);
  background-color: var(--button-background);

  border-radius: var(--border-radius);
  border: none;

  padding: var(--spacing-3);
  margin: 0;
  font-size: var(--font-size-medium);

  cursor: pointer;

  transition-duration: var(--timing-fast);
}

/* If the cancel button is also there, we want to disable the right rounded corners
 * so it looks like they are merged */
.main.has-sibling-cancel {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cancel {
  display: flex;
  place-items: center;

  color: var(--button-foreground);
  background-color: var(--button-background);

  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: none;

  cursor: pointer;

  transition-duration: var(--timing-fast);
}

.primary {
  --button-foreground: var(--color-accent-fg);
  --button-background: var(--color-accent);
}

.primary:hover {
  --button-foreground: color-mix(
    in hsl,
    var(--color-accent-fg) 95%,
    transparent
  );
  --button-background: color-mix(in hsl, var(--color-accent) 93%, transparent);
}

.primary:active {
  --button-foreground: color-mix(
    in hsl,
    var(--color-accent-fg) 97%,
    transparent
  );
  --button-background: color-mix(in hsl, var(--color-accent) 92%, transparent);
}

.primary:focus-visible {
  outline: var(--outline-focused);
}

.disabled > .primary {
  --button-foreground: color-mix(
    in hsl,
    var(--color-accent-fg) 60%,
    transparent
  );
  --button-background: color-mix(in hsl, var(--color-accent) 60%, transparent);
}
