.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-layer1-fg);
  background-color: var(--color-layer1-bg);
  border: var(--border-layer1);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-dialog);
  box-shadow: var(--shadow-medium);
}

.top {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-5);
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  color: var(--color-layer1-fg-dim);
  font-size: var(--font-size-big);
}

.description {
  margin-block: var(--spacing-5);
}

.close {
  line-height: 0;
  border: none;
  padding: var(--spacing-1);
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focused);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
}
