.root {
  display: flex;
  padding: var(--spacing-1);
  background-color: var(--color-primary-background);
  border: var(--border-primary-solid);
}

.trigger {
  color: var(--color-primary-foreground);
  font-size: var(--font-size-base);
  background: none;
  border: none;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-1);
  border-radius: var(--border-radius);
  cursor: pointer;

  &[data-highlighted],
  &[data-state="open"] {
    background-color: var(--color-primary-background-translucent);
  }
}

.content {
  background-color: var(--color-secondary-background);
  border: var(--border-secondary-solid);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
  box-shadow: var(--shadow-1);
}

.item {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  color: var(--color-primary-foreground);

  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
  min-width: 200px;
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-1);
  padding-left: 20px;

  &[data-highlighted] {
    background-color: var(--color-primary-accent);
    color: var(--color-primary-accent-foreground);
  }
}

.item-indicator {
  position: absolute;
  left: var(--spacing-4);
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
