.root {
  display: flex;
  padding: var(--spacing-1);
  background-color: var(--color-layer1-bg);
  align-items: center;
}

.trigger {
  color: var(--color-layer1-fg);
  font-size: var(--font-size-medium);
  background: none;
  border: none;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-1);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &[data-highlighted],
  &[data-state="open"] {
    background-color: var(--color-layer1-bg-translucent);
  }
}

.content {
  background-color: var(--color-layer2-bg);
  border: var(--border-layer2);
  border-radius: var(--border-radius);
  padding: var(--spacing-2);
  box-shadow: var(--shadow-medium);
}

.item {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  color: var(--color-layer1-fg);

  font-size: var(--font-size-medium);
  border-radius: var(--border-radius);
  min-width: 200px;
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-1);
  padding-left: 20px;

  &:focus-visible {
    outline: var(--outline-focused);
  }

  &[data-highlighted] {
    background-color: var(--color-accent);
    color: var(--color-accent-fg);
  }

  &[data-disabled] {
    color: var(--color-layer1-fg-dim);
  }
}

a.item {
  text-decoration: none;
}

.item-indicator {
  position: absolute;
  left: var(--spacing-4);
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.separator {
  height: 1px;
  background-color: var(--color-layer3-border);
}
