.root {
  --color-status-background: color-mix(
    in hsl,
    var(--color-layer1-bg) 95%,
    black
  );

  display: flex;
  flex-direction: row;
  color: var(--color-layer1-fg);
  background-color: var(--color-status-background);
  font-size: var(--font-size-small);
  border-bottom: var(--border-layer1);
  border-top: var(--border-layer1);
  padding-inline-end: var(--spacing-4);
  height: 24px;
}

.item {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-2) var(--spacing-3);
  gap: var(--spacing-2);
  align-items: center;
}

.end {
  margin-left: auto;
}
