.panel {
  display: flex;
  flex-direction: column;
}

.tab-root {
  border-bottom: var(--border-primary-solid);
}

.tab-list {
  display: flex;
  flex-direction: row;
}

.tab-trigger {
  color: var(--color-primary-foreground);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-size-base);
  background-color: transparent;
  border: none;
  transition-duration: var(--transition-fast);
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-3);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-primary-background-translucent);
  }

  &[data-state="active"]::after {
    content: "";
    position: absolute;
    background-color: var(--color-primary-accent);
    height: var(--size-0);
    width: 100%;
    left: 0;
    top: calc(100% + var(--spacing-3));
  }
}

.tab-icon {
  color: var(--color-primary-foreground-dim);
  display: flex;
}

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  flex-grow: 1;
  padding: var(--spacing-panel);
  overflow: hidden;
}
