.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tab-root {
  border-bottom: var(--border-layer1);
}

.top-list,
.tab-list {
  display: flex;
  flex-direction: row;
}

.action-list {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-1);
  padding-inline-end: var(--spacing-4);
}

.tab-trigger {
  color: var(--color-layer1-fg);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-3);
  font-size: var(--font-size-medium);
  background-color: transparent;
  border: none;
  transition-duration: var(--timing-fast);
  cursor: pointer;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-3);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-layer1-bg-translucent);
  }

  &[data-state="active"]::after {
    content: "";
    position: absolute;
    background-color: var(--color-accent);
    height: var(--size-0);
    width: 100%;
    left: 0;
    top: calc(100% + var(--spacing-3));
  }
}

.tab-icon {
  color: var(--color-layer1-fg-dim);
  display: flex;
}

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  flex-grow: 1;
  overflow: hidden;
}
