:root {
  box-sizing: border-box;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */

  /* FAQ
   * # What is the difference between --color-primary and --color-accent-primay?
   * `color-accent` is for things that stand out like buttons.
   * `color` is for the base color of each layer. primary is the first layer, secondary the secondary layer, ...
   *  (basically the background color)
   * This is only the case for the colors with primary/secondary/tertiary in them though, to differentiate their roles.
   * For example, `color-input` does not include `accent`.
   */

  --color-primary-accent: #248f8f;
  --color-primary-accent-foreground: #fff;

  --color-secondary-accent: #35383b;
  --color-secondary-accent-foreground: #f0f3f5;
  --color-secondary-accent-border: #494a4c;
  --border-secondary-accent-solid: 1px solid
    var(--color-secondary-accent-border);

  --color-primary-background: #101112;
  --color-primary-background-translucent: color-mix(
    in hsl,
    var(--color-primary-foreground) 10%,
    transparent
  );
  --color-primary-foreground: #f2f5f7;
  --color-primary-foreground-dim: #f2f5f7af;
  --color-primary-foreground-very-dim: color-mix(
    in hsl,
    var(--color-primary-foreground-dim) 70%,
    transparent
  );
  --color-primary-border: #2c2d33; /* #212226; */
  --border-primary-solid: 1px solid var(--color-primary-border);

  --color-secondary-background: #252729;
  --color-secondary-foreground: #f0f3f5;
  --color-secondary-foreground-dim: #f0f3f59f;
  --color-secondary-border: #43444d;
  --border-secondary-solid: 1px solid var(--color-secondary-border);

  --color-tertiary-background: #38393b;
  --color-tertiary-foreground: #ebeef0;
  --color-tertiary-foreground-dim: #ebeef0af;
  --color-tertiary-border: #56575c;
  --border-tertiary-solid: 1px solid var(--color-tertiary-border);

  --color-input-background: #1f2021;
  --color-input-background-translucent: color-mix(
    in hsl,
    var(--color-input-foreground) 7%,
    var(--color-input-background)
  );
  --color-input-foreground: var(--color-secondary-foreground);
  --color-input-foreground-dim: var(--color-secondary-foreground-dim);
  --color-input-border: #494a4c;
  --border-input-solid: 1px solid var(--color-input-border);
  --border-input-solid-focused: 1px solid var(--color-primary-accent);

  --color-error: #f2291b;
  --color-success: #22e369;
  --color-warning: #e0c216;
  --color-info: #0eb0e6;

  --color-data-table-foreground: #000;
  --color-data-table-neutral: #f2f2f2;
  --color-data-table-positive: #fa5757;
  --color-data-table-negative: #52e365;

  /* Sizing */
  --size-0: 2px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 30px;
  --size-5: 36px;
  --size-6: 48px;
  --size-7: 52px;

  --font-size-small: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-big: 1.125rem;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 12px;
  --spacing-panel: 10px;

  --border-radius: 3px;
  --border-radius-large: 6px;

  /* Misc. */
  --transition-fast: 0.1s;

  --shadow-1: 0px 15px 25px -15px rgba(0, 0, 0, 0.75);
}

:root[data-theme="light"] {
  /* Colors */

  --color-secondary-accent: #ededed;
  --color-secondary-accent-foreground: #080808;
  --color-secondary-accent-border: #aeaeae;
  --border-secondary-accent-solid: 1px solid
    var(--color-secondary-accent-border);

  --color-primary-background: #f7f7f7;
  --color-primary-background-translucent: color-mix(
    in hsl,
    var(--color-primary-foreground) 10%,
    transparent
  );
  --color-primary-foreground: #080808;
  --color-primary-foreground-dim: #0808087f;
  --color-primary-foreground-very-dim: color-mix(
    in hsl,
    var(--color-primary-foreground-dim) 70%,
    transparent
  );
  --color-primary-border: #d1d1d1;
  --border-primary-solid: 1px solid var(--color-primary-border);

  --color-secondary-background: #e7e7e7;
  --color-secondary-foreground: #080808;
  --color-secondary-foreground-dim: #0808087f;
  --color-secondary-border: #a6a6a6;
  --border-secondary-solid: 1px solid var(--color-secondary-border);

  --color-tertiary-background: #d2d2d2;
  --color-tertiary-foreground: #080808;
  --color-tertiary-foreground-dim: #0808087f;
  --color-tertiary-border: #8b8b8b;
  --border-tertiary-solid: 1px solid var(--color-tertiary-border);

  --color-input-background: #ededed;
  --color-input-background-translucent: color-mix(
    in hsl,
    var(--color-input-foreground) 7%,
    var(--color-input-background)
  );
  --color-input-foreground: var(--color-secondary-foreground);
  --color-input-foreground-dim: var(--color-secondary-foreground-dim);
  --color-input-border: #aeaeae;
  --border-input-solid: 1px solid var(--color-input-border);
  --border-input-solid-focused: 1px solid var(--color-primary-accent);

  --color-error: #bc1f14;
  --color-success: #18ab4e;
  --color-warning: #b69d10;
  --color-info: #1398c4;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* This style is temporarily applied to create the theme transition effect. */
/* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
.theme-in-transition,
.theme-in-transition *,
.theme-in-transition *::before,
.theme-in-transition *::after {
  transition-property: color, background-color, border-color !important;
  transition-duration: 0ms !important;
  transition-delay: 0 !important;
}
