@import "@/light.css";
@import "@/dark.css";
@import "@/monokai.css";

:root {
  box-sizing: border-box;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Sizing */

  --size-0: 2px;
  --size-1: 8px;
  --size-2: 16px;
  --size-3: 24px;
  --size-4: 30px;
  --size-5: 36px;
  --size-6: 48px;
  --size-7: 52px;

  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-big: 1.125rem;

  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 12px;
  --spacing-panel: 10px;
  --spacing-dialog: 18px;

  --border-radius: 3px;
  --border-radius-large: 6px;

  /* Misc. */

  --timing-very-fast: 0.05s;
  --timing-fast: 0.1s;

  --shadow-small: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  --shadow-medium: 0px 15px 25px -15px rgba(0, 0, 0, 0.75);

  /* Base Colors (more defined in individual theme files */

  --color-accent: #248f8f;
  --color-accent-fg: #fff;

  --color-data-table-fg: #000;
  --color-data-table-neutral: #f2f2f2;
  --color-data-table-positive: #fa5757;
  --color-data-table-negative: #52e365;

  /* Colors & Borders (derived from colors defined in individual themes */

  --color-button-bg-translucent: oklch(
    from var(--color-button-fg) l c h / var(--opacity-translucent)
  );
  --color-input-bg-translucent: oklch(
    from var(--color-input-fg) l c h / var(--opacity-translucent)
  );
  --color-layer1-bg-translucent: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-translucent)
  );
  --color-layer2-bg-translucent: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-translucent)
  );
  --color-layer3-bg-translucent: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-translucent)
  );

  --color-button-fg-dim: oklch(
    from var(--color-button-fg) l c h / var(--opacity-dim)
  );
  --color-input-fg-dim: oklch(
    from var(--color-input-fg) l c h / var(--opacity-dim)
  );
  --color-layer1-fg-dim: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-dim)
  );
  --color-layer2-fg-dim: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-dim)
  );
  --color-layer3-fg-dim: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-dim)
  );

  --color-button-fg-very-dim: oklch(
    from var(--color-button-fg) l c h / var(--opacity-very-dim)
  );
  --color-input-fg-very-dim: oklch(
    from var(--color-input-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer1-fg-very-dim: oklch(
    from var(--color-layer1-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer2-fg-very-dim: oklch(
    from var(--color-layer2-fg) l c h / var(--opacity-very-dim)
  );
  --color-layer3-fg-very-dim: oklch(
    from var(--color-layer3-fg) l c h / var(--opacity-very-dim)
  );

  --border-button: 1px solid var(--color-button-border);
  --border-layer1: 1px solid var(--color-layer1-border);
  --border-layer2: 1px solid var(--color-layer2-border);
  --border-layer3: 1px solid var(--color-layer3-border);
  --border-input: 1px solid var(--color-input-border);
  --border-input-focused: 1px solid var(--color-accent);

  /* Colors for interactive elements */

  --color-button-bg-hover: color-mix(
    in oklch,
    var(--color-button-bg) 95%,
    var(--color-button-fg)
  );
  --color-button-bg-active: color-mix(
    in oklch,
    var(--color-button-bg) 90%,
    var(--color-button-fg)
  );
  --color-button-bg-disabled: color-mix(
    in oklch,
    var(--color-button-bg) 60%,
    var(--color-layer1-bg)
  );
  --color-button-fg-disabled: color-mix(
    in oklch,
    var(--color-button-fg) 70%,
    var(--color-layer1-bg)
  );

  --color-input-bg-disabled: color-mix(
    in oklch,
    var(--color-input-bg) 60%,
    var(--color-layer1-bg)
  );
  --color-input-fg-disabled: color-mix(
    in oklch,
    var(--color-input-fg) 70%,
    var(--color-layer1-bg)
  );

  /* Button types */

  --color-ghost-button-fg: var(--color-layer1-fg);
  --color-ghost-button-bg: transparent;
  --color-ghost-button-hover-bg: color-mix(
    in oklch,
    var(--color-layer1-fg) 10%,
    transparent
  );
  --color-ghost-button-active-bg: color-mix(
    in oklch,
    var(--color-layer1-fg) 15%,
    transparent
  );
  --color-ghost-button-disabled-fg: var(--color-layer1-fg-dim);
  --color-ghost-button-disabled-bg: transparent;

  --color-ghost-text-button: color-mix(
    in oklch,
    var(--color-layer1-fg) 80%,
    var(--color-layer1-bg)
  );
  --color-ghost-text-button-hover: color-mix(
    in oklch,
    var(--color-layer1-fg) 87.5%,
    var(--color-layer1-bg)
  );
  --color-ghost-text-button-active: color-mix(
    in oklch,
    var(--color-layer1-fg) 92.5%,
    var(--color-layer1-bg)
  );
  --color-ghost-text-button-disabled: color-mix(
    in oklch,
    var(--color-layer1-fg) 50%,
    var(--color-layer1-bg)
  );
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size-medium);
}

/* This style is temporarily applied to create the theme transition effect. */
/* https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a */
.theme-in-transition,
.theme-in-transition *,
.theme-in-transition *::before,
.theme-in-transition *::after {
  transition-property: color, background-color, border-color !important;
  transition-duration: 0ms !important;
  transition-delay: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--spacing-5);
}

p {
  margin-block: var(--spacing-4);
}
