.panel {
  color: var(--color-primary-foreground);
  background-color: var(--color-primary-background);
  padding: var(--spacing-panel);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sliders {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.group-title {
  display: flex;
  color: var(--color-primary-foreground-dim);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-1);
  gap: var(--spacing-4);
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-title {
  align-items: center;
  margin: 0;
  margin-bottom: var(--spacing-1);

  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);

  color: var(--color-primary-foreground);
  font-size: var(--font-size-small);

  .disabled > & {
    color: var(--color-primary-foreground-dim);
  }
}

.slider-title-main-label {
  flex-grow: 1;
  pointer-events: none;
}

.slider-number-box {
  font-size: var(--font-size-small);
  width: 72px;
  padding-block: var(--spacing-1);
}

.slider-actual-slider {
  --slider-height: 12px;
}
