.panel {
  padding: var(--spacing-panel);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.list {
  margin-top: var(--spacing-3);
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  list-style: none;
}

.no-history {
  color: var(--color-layer1-fg);
}

.button {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);

  color: var(--color-button-fg);
  background-color: var(--color-button-bg);
  border: var(--border-button);
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  cursor: pointer;
  text-align: left;

  &:hover {
    background-color: var(--color-button-bg-hover);
  }

  &:active {
    background-color: var(--color-button-bg-active);
  }
}

.button-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button-time {
  color: var(--color-button-fg-dim);
}

.button-check {
  display: flex;
  align-items: center;
  justify-content: center;
}
